* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
ul {
  list-style-type: none;
}
.doc {
  list-style-type: none;
  float: right;
  https: //github.com/mwangiyoung/medicare.git
;
}
.l1 {
  color: rgb(0, 225, 255);
}
p1 {
  width: 20px;
}
nav ul li {
  display: inline-block;
  padding: 41px;
}
.hero {
  background: url("../images/ezgif-2-b583d0ce77.png") no-repeat center
    center/cover;
  height: 50vh;
  position: relative;
}
h1 {
  color: rgb(22, 117, 196);
}
.r2 {
  margin-top: 40px;
}
.homepage {
  list-style-type: none;
  float: left;
}
.hero-content {
  width: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.button4 {
  background-color: blue;
}
.button3 {
  background-color: aqua;
}
.Book {
  padding: 10px;
}
.promotion1 {
  float: left;
  box-shadow: 0 0 5px;
  margin: 40px;
  padding: 30%;
  width: 20%;
}
.p1 {
  color: rgb(0, 102, 255);
}
.red {
  margin-bottom: 3%;
  font-size: xx-large;
}
.bt {
  float: left;
}
.bravoo {
  float: left;
  width: 48%;
  background: url("../images/medical-clinic.jpg") no-repeat center center/cover;
  height: 500px;
}
.narrow {
  width: 50%;
  float: right;
  font-size: 20px;
}
.g {
  background-color: #496bf2;
  margin: 20px;
  padding: 20px;
  color: white;
  width: 20%;
}
.testimonial-avatars {
  width: 0 auto;
  margin: 0 auto;
  text-align: center;
}
.clearfix {
  clear: both;
}
.K3 {
  color: #496bf2;
  float: right;
  margin-top: 40px;
}
.chrome {
  text-align: center;
  font-size: larger;
  margin: 0 auto;
  margin-bottom: 3%;
}
.g3 {
  float: right;
  width: 20px;
}
.g4 {
  float: left;
}
.testimonial-circles {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  border-radius: 50px;
}
.green {
  background-color: #496bf2;
  margin: 20px;
}
.blue {
  background-color: aqua;
  margin: 20px;
}

.span1 {
  color: aqua;
  font-size: 30px;
  text-align: center;
}
.span2 {
  color: rgb(0, 4, 255);
  font-size: 30px;
  text-align: justify;
}
.testimonials {
  width: 50%;
  margin: 0 auto;
  font-size: large;
}
.u {
  color: #496bf2;
}
.vom {
  margin-top: 3%;
  font-size: xx-large;
  margin-bottom: 2%;
}
.quotes1 {
  margin-bottom: 20px;
  text-align: left;
}
.quotes {
  margin-top: 20px;
  text-align: right;
}
.contact {
  height: 80vh;
  background: url("../images/ezgif-2-81a50240fb.png") no-repeat center
    center/cover;
}
.forms input {
  padding: 35px 40px;
  width: 450px;
  margin: 20px;
  box-sizing: border-box;
}
.blu {
  background-color: #496bf2;
  padding: 20px;
  width: 150px;
  margin: 20px;
  display: block;
}

.app {
  margin-inline-start: 20px;
}

/* Footer styles */

footer {
  margin-top: 30px;
}

.footer-element {
  float: left;
  width: 25%;
  line-height: 2;
}
.ap {
  color: aquamarine;
}
.facebook {
  margin: 0 10%;
}
.pa {
  color: #496bf2;
  text-align: center;
}
.pd {
  font-size: x-large;
}
.promotion1 {
  width: 30%;
  padding: 1%;
}
.promotion2 {
  margin: 0;
}
.pa {
  margin-top: 60px;
  margin-bottom: 40px;
}
